<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIATECH</title>
    <link rel="stylesheet" href="../static/css/responsive_aboutus.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>DIATECH</h1>
        </div>     
    </header>
    
    <div class="container">
       
        <!-- <div><img src="#" alt=""></div> -->

        <section class="about-us">
            <h2>About Us</h2>
            <p>Welcome to DIATECH, where technology meets health to empower you with the tools to monitor and manage your diabetes risk.</p>
        </section>

        <section class="mission">
            <h2>Our Mission</h2>
            <p>DIATECH's objective is to develop an accessible and reliable platform for diabetes detection and prevention. We believe that early detection and aggressive intervention can significantly improve diabetes prevention and management. Our mission is to provide people with the information and resources they need to take control of their health.</p>
        </section>

        <section class="what-we-do">
            <h2>What We Do</h2>
            <p>DIATECH provides an advanced diabetes risk assessment tool powered by Machine Learning. By examining numerous health indicators such as diastolic blood pressure, BMI, and so on.</p>
        </section>

        <section class="vision">
            <h2>Our Vision</h2>
            <p>We envisage a society in which everyone has access to the information and resources they require to avoid diabetes and live healthy lives. DIATECH aims to become the go-to platform for diabetes prevention and education via constant innovation and engagement with healthcare professionals.</p>
        </section>
        
        <section class="why-choose">
            <h2>Why Choose DIATECH?</h2>
            <ul>
                <li><strong>Accurate and Reliable:</strong> Our machine learning algorithms are trained on large amounts of medical data to provide accurate predictions.</li>
                <li><strong>User-Centric Design:</strong> We strive to provide a smooth and intuitive user experience.</li>
                <li><strong>Continuous Improvement:</strong> We are devoted to upgrading and developing our platform based on the most recent research and user input.</li>
            </ul>
        </section>

        <section class="contact-us">
            <h2>Contact Us</h2>
            <p>We'd love to hear from you! </p>
            <p>If you have any questions, feedback, or suggestions, feel free to reach out to us at <a href="mailto:helpcenter@diatech.com">helpcenter@diatech.com</a>.</p>
        </section>
    </div>
</body>
</html>
